<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365896204454-lrajij0hre4ollnj1vhvt94nvcbjv5nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365896204454-lrajij0hre4ollnj1vhvt94nvcbjv5nk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365896204454-hef6h2i5lpakffv8ad5jpna3t249msp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAm6nXQyT7UhGDqXmRJvlIneCUnXc1DX30</string>
	<key>GCM_SENDER_ID</key>
	<string>365896204454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCatalog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttercatalog-d57dd</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercatalog-d57dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365896204454:ios:fce3b98b1a355cd2c6b467</string>
	<key>DATABASE_URL</key>
	<string>https://fluttercatalog-d57dd-default-rtdb.firebaseio.com</string>
</dict>
</plist>